html{
 padding: 2px;
}
body{
    margin: 0;
    background-image: url("/image/Rainbow_Nebula_4K_Motion_Background.mp4;")"
}
bg-container{
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}
bg-video{
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}
#background{
    position: fixed;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
    filter: brightness(1.2);
    z-index: -2;
}
.header{
    display: flex;
    
    
}
.menu{
    padding: 6px;
}
#menu{
    display: flex;
    margin: 0 0 0 auto;
    padding: 2px;
    color: #e5e7eb;
    font-size: 18px;
}

#header-logo{
    color: #f9faf8;
    font-size: 24px;
   
}
#box-container{
    display: flex;
    width: auto;
    height: 100%;
    margin: none;
    padding-top: 90px;
    color:#f9faf8;
    font-size: 48px;
    background: rgba(0, 0,0, 0.8)
    
   
}
img{
    width: 100%;
    max-height: 100%;
    display: flex;
}
#box{
    color: #e5e7eb;
    width: 100%;
    margin: 4px;
    display:flex;
    height: 100%;
    font-size: 18px;
    padding: 5px;
    
}
#box1{
    display: block;
    height: 100%;
    width: 50%;
    margin-right: 30px;
    align-items: center;
    justify-content: right;
    padding: 17px;
}


#matrix-girl{
    display: flex; 
   display: flex;
  padding: 17px;
  
  align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
    max-height: 70%;
    max-width: 200%;
    
}
    
.hero-title{
    color:#f9faf8;
    font-size: 48px;
    
}
#secondary-text{
    color:#e5e7eb;
    font-size: 18px;
}
button{
    background: #3882f6;
    color: #f9faf8;
    border-radius: 8px;
    padding: 15px;
    height: auto;
    width: 140px;
    font-size: 14px;

}

.box2{
    background: rgba(255, 255, 255, 0.575);
    justify-content: center;
    height: auto;
   
    
}
#lite-container{
justify-content: center;
   display: flex;
    flex-direction: row;
    padding: 3px;
 
   
   
    
}


.lite-content{
  display:flex;
    /*padding: 2em;*/
    flex-wrap: wrap;
   /* margin: 1em;*/
    justify-content: center;
    flex-direction: row;
}
.random-info{
    color: #161b1b;
    text-align: center;
    font-size: 30px;
    padding: 25px;
}
.img-container{
    display:flex;
    flex-direction: row;
    justify-content:center;
    margin: 0 2.5em;
    flex-wrap: wrap;
    align-items: center;
}
 .random-img{
    display: flex;
   justify-content: center;
    width:100%;
    height: 100%;
    flex-wrap: wrap;
    
}
.tenor-gif-embed{
    width: 100%;
    height: 100%;
    display: flex;
    object-fit: cover;
}
.img1{
    width: 100%;
   height: 100%;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 10px 30px black;
    transition: 0.3s;
    margin: 0.5em 1em 1em 1em;
    padding: 6em;

}
.sub-text{
    color:#03163a;
    font-size: 28px;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

/* Add some content at the bottom of the video/page */
.content {
  position: relative;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}

